footer {
    display:flex;
    position: relative;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    margin: 0;
    gap:3rem;
    color:#888;
    background-color:#141414;
    height:100dvh;
}



.FooterMain {
    width:75vw;
    height:50dvh;
    display:flex;
    justify-content:space-between;
}

.FooterMain > * {
    width:35vw
}

.left-section {
    background-color:#fffafa;
    color:#141414;
    padding:1rem;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    gap:1rem
}

.left-section > p {
    max-width:70%
}

.left-section > button {
    cursor:pointer;
    width:20%;
    height:10%
}

.left-section > button:hover {
    scale: 1.1;
}

.left-section > .Contact {
    display:flex;
    gap:1rem
}

.left-section > .Contact > * {
    width:50%
}

.left-section > .Contact div:nth-child(1) > a {
    color:#333
}

.left-section > .Contact > div:nth-child(2) {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-end
}

.left-section > .Contact > div:nth-child(2) >div {
    display:flex;
    gap:1rem
}

.right-section {
    display:flex;
    flex-direction:column;
    gap:1rem
}

form {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:1rem;
    overflow:hidden
}

form > h2 {
    color:#fffafa
}

form > button {
    width:100%;
    height:2rem;
    background-color:#fffafa;
    color:#141414;
    border:none;
    cursor:pointer;
    transition:.3s ease-in-out
}

form > button:hover {
   scale: 0.9;
}

.NameField {
    display:flex;
    gap:1rem
}

.NameField > input {
    width:50%;
    border:1px solid #fffff0
}

.SubjectField > input {
    width:100%;
    border:1px solid #888
}

input {
    border:1px solid #888;
    color:#333;
    background-color:#fffafa;
    height:2.5rem;
    padding-left:1em;
    border-radius:.2em
}

textarea {
    border:1px solid #888;
    color:#333;
    background-color:#fffafa;
    border-radius:.2em;
    resize:none;
    width:100%;
    height:8rem;
    padding:1em
}

input:focus, textarea:focus {
    outline:none;
    border:1px solid #333
}

.animated-svg:hover > .shape-fill{
    fill: #FA7268 ;
}

.CreatedBy {
    text-align:center
}


@media screen and (max-width: 768px) {
    footer {
        height:100%
    }

    .FooterMain {
        flex-direction:column;
        gap:1rem;
        height:100%;
        margin-top: 10dvh;
    }

    .FooterMain > * {
        width:100%
    }

    .left-section {
        height:100%;
        justify-content:space-between;
        align-items:center
    }

    .left-section > p {
        max-width:100%
    }

    .left-section > .Contact {
        flex-direction:column;
        gap:.5rem
    }

    .left-section > .Contact > * {
        width:100%
    }

    .left-section > .Contact > div:nth-child(2) {
        align-items:center
    }

    .right-section {
        height:100%;
        justify-content:space-between
    }

    form {
        height:100%;
        gap:.5rem
    }

    form > h2 {
        font-size:1.5rem
    }

    form > button {
        height:2.5rem
    }

    .NameField {
        flex-direction:column;
        gap:.5rem
    }

    .NameField > input {
        width:100%
    }

    .SubjectField > input {
        width:100%
    }

    input {
        height:2.5rem
    }

    textarea {
        height:8rem
    }

    .CreatedBy {
        font-size:.8rem
    }
}

/*Footer Waves*/

.custom-shape-divider-top-1685203062 {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1685203062 svg {
    width: calc(100% + 1.3px);
}

.custom-shape-divider-top-1685203062 .shape-fill {
    fill: #FFFAFA;
}